<div id="myCarouselLHlib" class="carousel slide carousel-fade hidden-xs" data-ride="carousel" data-interval="0">
    <!-- Carousel indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarouselLHlib" data-slide-to="0" class="active"></li>
        <li data-target="#myCarouselLHlib" data-slide-to="1"></li>
        <li data-target="#myCarouselLHlib" data-slide-to="2"></li>
        <li data-target="#myCarouselLHlib" data-slide-to="3"></li>
        <li data-target="#myCarouselLHlib" data-slide-to="4"></li>
        <li data-target="#myCarouselLHlib" data-slide-to="5"></li>
        <li data-target="#myCarouselLHlib" data-slide-to="6"></li>
        <li data-target="#myCarouselLHlib" data-slide-to="7"></li>
        <li data-target="#myCarouselLHlib" data-slide-to="8"></li>
        <li data-target="#myCarouselLHlib" data-slide-to="9"></li>
        <li data-target="#myCarouselLHlib" data-slide-to="10"></li>
        <li data-target="#myCarouselLHlib" data-slide-to="11"></li>
        
    </ol>   
    <!-- Carousel items -->
    <div class="carousel-inner">
        <div class="active item">
            <img class="center-block" src="{{=URL('static/images','lhlib1.jpg')}}" alt="..." height="400px;" width="700px;">
            <div class="carousel-caption">
              <h1></h1><h3 style="padding-bottom:40px;">Arrivando al Puerto de Monrovia, Liberia<br><small>Trabajando en la Proa del Barco</small></h3>
            </div>
        </div>
        <div class="item">
            <img class="center-block" src="{{=URL('static/images','lhlib2.jpg')}}" alt="...">
            <div class="carousel-caption">
              <h1></h1>
              <h3>Proyecto de Construcción<br><small>La Escuela</small></h3>
            </div>
        </div>
        <div class="item">
            <img class="center-block" src="{{=URL('static/images','lhlib3.jpg')}}" alt="...">
            <div class="carousel-caption" style="">
              <h1></h1><h3>Proyecto de Construcción<br><small>Trabajando junto a Paul (Sudáfrica)</small></h3>
            </div>
        </div>
        
        <div class="item">
            <img class="center-block" src="{{=URL('static/images','lhlib4.jpg')}}" alt="...">
            <div class="carousel-caption">
              <h1></h1><h3>Proyecto de Construcción<br><small>Trabajando junto a los Locales</small></h3>
            </div>
        </div>
        <div class="item">
            <img class="center-block" src="{{=URL('static/images','lhlib5.jpg')}}" alt="...">
            <div class="carousel-caption">
              <h1></h1><h3>Proyecto de Construcción<br><small>Limpiando el Área</small></h3>
            </div>
        </div>
        <div class="item">
            <img class="center-block" src="{{=URL('static/images','lhlib6.jpg')}}" alt="...">
            <div class="carousel-caption">
              <h1></h1><h3>Proyecto de Construcción<br><small></small></h3>
            </div>
        </div>
        <div class="item">
            <img class="center-block" src="{{=URL('static/images','lhlib7.jpg')}}" alt="...">
            <div class="carousel-caption">
              <h1></h1><h3>Proyecto de Construcción<br><small>Con el equipo del Barco</small></h3>
            </div>
        </div>
        <div class="item">
            <img class="center-block" src="{{=URL('static/images','lhlib8.jpg')}}" alt="...">
            <div class="carousel-caption">
              <h1></h1><h3>Proyecto de Construcción<br><small>Trabajando en la Barda</small></h3>
            </div>
        </div>
        
        <div class="item">
            <img class="center-block" src="{{=URL('static/images','lhlib9.jpg')}}" alt="..." height="400px;" width="700px;">
            <div class="carousel-caption">
              <h1></h1><h3>Proyecto de Construcción<br><small>Junto a Un Liberiano</small></h3>
            </div>
        </div>
        <div class="item">
            <img class="center-block" src="{{=URL('static/images','lhlib10.jpg')}}" alt="..." height="400px;" width="700px;">
            <div class="carousel-caption">
              <h1></h1><h3>Proyecto de Construcción<br><small>Conviviendo con los Niños</small></h3>
            </div>
        </div>
        <div class="item">
            <img class="center-block" src="{{=URL('static/images','lhlib11.jpg')}}" alt="..." height="400px;" width="700px;">
            <div class="carousel-caption">
              <h1></h1><h3>Proyecto de Construcción<br><small>El Equipo frente a una de las Obras</small></h3>
            </div>
        </div>
        <div class="item">
            <img class="center-block" src="{{=URL('static/images','lhlib12.jpg')}}" alt="..." height="400px;" width="700px;">
            <div class="carousel-caption">
              <h1></h1><h3>Proyecto de Construcción<br><small>Conviviendo con Jóvenes Locales</small></h3>
            </div>
        </div>
        
        
    </div>
    <!-- Carousel nav -->
    <a class="carousel-control left" href="#myCarouselLHlib" data-slide="prev">
        <span style="padding-top:50px;" class="fa fa-2x fa-hand-o-left"></span>
    </a>
    <a class="carousel-control right" href="#myCarouselLHlib" data-slide="next">
        <span style="padding-top:50px;" class="fa fa-2x fa-hand-o-right"></span>
    </a>
</div>