<div id="myCarouselLHmin" class="carousel slide carousel-fade hidden-xs" data-ride="carousel" data-interval="0">
    <!-- Carousel indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarouselLHmin" data-slide-to="0" class="active"></li>
        <li data-target="#myCarouselLHmin" data-slide-to="1"></li>
        <li data-target="#myCarouselLHmin" data-slide-to="2"></li>
        <li data-target="#myCarouselLHmin" data-slide-to="3"></li>
        <li data-target="#myCarouselLHmin" data-slide-to="4"></li>
        <li data-target="#myCarouselLHmin" data-slide-to="5"></li>
        <li data-target="#myCarouselLHmin" data-slide-to="6"></li>
        <li data-target="#myCarouselLHmin" data-slide-to="7"></li>
        <li data-target="#myCarouselLHmin" data-slide-to="8"></li>
        <li data-target="#myCarouselLHmin" data-slide-to="9"></li>
        <li data-target="#myCarouselLHmin" data-slide-to="10"></li>
        <li data-target="#myCarouselLHmin" data-slide-to="11"></li>
        <li data-target="#myCarouselLHmin" data-slide-to="12"></li>
        <li data-target="#myCarouselLHmin" data-slide-to="13"></li>
        <li data-target="#myCarouselLHmin" data-slide-to="14"></li>
        <li data-target="#myCarouselLHmin" data-slide-to="15"></li>
        <li data-target="#myCarouselLHmin" data-slide-to="16"></li>
        <li data-target="#myCarouselLHmin" data-slide-to="17"></li>
        <li data-target="#myCarouselLHmin" data-slide-to="18"></li>
        
    </ol> 
    <ol class="carousel-indicators" style="bottom:5px;">
        <li data-target="#myCarouselLHmin" data-slide-to="19"></li>
        <li data-target="#myCarouselLHmin" data-slide-to="20"></li>
        <li data-target="#myCarouselLHmin" data-slide-to="21"></li>
        <li data-target="#myCarouselLHmin" data-slide-to="22"></li>
        <li data-target="#myCarouselLHmin" data-slide-to="23"></li>
        <li data-target="#myCarouselLHmin" data-slide-to="24"></li>
        <li data-target="#myCarouselLHmin" data-slide-to="25"></li>
        <li data-target="#myCarouselLHmin" data-slide-to="26"></li>
        <li data-target="#myCarouselLHmin" data-slide-to="27"></li>
        <li data-target="#myCarouselLHmin" data-slide-to="28"></li>
        <li data-target="#myCarouselLHmin" data-slide-to="29"></li>
        <li data-target="#myCarouselLHmin" data-slide-to="30"></li>
        <li data-target="#myCarouselLHmin" data-slide-to="31"></li>
        <li data-target="#myCarouselLHmin" data-slide-to="32"></li>
        <li data-target="#myCarouselLHmin" data-slide-to="33"></li>
        <li data-target="#myCarouselLHmin" data-slide-to="34"></li>
        <li data-target="#myCarouselLHmin" data-slide-to="35"></li>
        <li data-target="#myCarouselLHmin" data-slide-to="36"></li>
        <li data-target="#myCarouselLHmin" data-slide-to="37"></li>
    </ol>  
    <!-- Carousel items -->
    <div class="carousel-inner">
        <div class="active item">
            <img class="center-block" src="{{=URL('static/images','ministerios/drums1.jpg')}}" alt="..." >
            <div class="carousel-caption">
              <h1></h1><h3 style="padding-bottom:15px;">Grenada<br><small>Percussion Performance</small></h3>
            </div>
        </div>
        <div class="item">
            <img class="center-block" src="{{=URL('static/images','ministerios/drums2.jpg')}}" alt="...">
            <div class="carousel-caption">
              <h1></h1><h3 style="padding-bottom:15px;">London, England<br><small>Percussion Performance</small></h3>
            </div>
        </div> 
        <div class="item">
            <img class="center-block" src="{{=URL('static/images','ministerios/drums3.jpg')}}" alt="...">
            <div class="carousel-caption">
              <h1></h1><h3 style="padding-bottom:15px;">London, England<br><small>Interacting with the Audience</small></h3>
            </div>
        </div>
        <div class="item">
            <img class="center-block" src="{{=URL('static/images','ministerios/drums4.jpg')}}" alt="...">
            <div class="carousel-caption">
              <h1></h1><h3 style="padding-bottom:15px;">Ghana<br><small>Interacting with the Audience at Youth Event</small></h3>
            </div>
        </div>
        <div class="item">
            <img class="center-block" src="{{=URL('static/images','ministerios/fut1.jpg')}}" alt="...">
            <div class="carousel-caption">
              <h1></h1><h3 style="padding-bottom:15px;">Trinidad & Tobago<br><small>Soccer Match at Youth Prison</small></h3>
            </div>
        </div>
        <div class="item">
            <img class="center-block" src="{{=URL('static/images','ministerios/fut2.jpg')}}" alt="...">
            <div class="carousel-caption">
              <h1></h1><h3 style="padding-bottom:15px;">Trinidad & Tobago<br><small>Soccer Match at Youth Prison</small></h3>
            </div>
        </div>
        <div class="item">
            <img class="center-block" src="{{=URL('static/images','ministerios/fut3.jpg')}}" alt="...">
            <div class="carousel-caption">
              <h1></h1><h3 style="padding-bottom:15px;">Trinidad & Tobago<br><small>Soccer Match at Youth Prison</small></h3>
            </div>
        </div>
        <div class="item">
            <img class="center-block" src="{{=URL('static/images','ministerios/fut4.jpg')}}" alt="...">
            <div class="carousel-caption">
              <h1></h1><h3 style="padding-bottom:15px;">Sierra Leone<br><small>Fellowship with Local Player</small></h3>
            </div>
        </div>
        <div class="item">
            <img class="center-block" src="{{=URL('static/images','ministerios/fut5.jpg')}}" alt="...">
            <div class="carousel-caption">
              <h1></h1><h3 style="padding-bottom:15px;">Grenada<br><small>Fellowship with Local</small></h3>
            </div>
        </div>
        <div class="item">
            <img class="center-block" src="{{=URL('static/images','ministerios/fut6.jpg')}}" alt="...">
            <div class="carousel-caption">
              <h1></h1><h3 style="padding-bottom:15px;">Grenada<br><small>Fellowship with Local</small></h3>
            </div>
        </div>
        <div class="item">
            <img class="center-block" src="{{=URL('static/images','ministerios/comm1.jpg')}}" alt="...">
            <div class="carousel-caption">
              <h1></h1><h3 style="padding-bottom:15px;">Denmark<br><small>Logos Hope Crew</small></h3>
            </div>
        </div>
        <div class="item">
            <img class="center-block" src="{{=URL('static/images','ministerios/str1.jpg')}}" alt="...">
            <div class="carousel-caption">
              <h1></h1><h3 style="padding-bottom:15px;">Jamaica<br><small>Street Music</small></h3>
            </div>
        </div>
        <div class="item">
            <img class="center-block" src="{{=URL('static/images','ministerios/str2.jpg')}}" alt="...">
            <div class="carousel-caption">
              <h1></h1><h3 style="padding-bottom:15px;">Jamaica<br><small>Playing with Local Kid</small></h3>
            </div>
        </div>
        <div class="item">
            <img class="center-block" src="{{=URL('static/images','ministerios/str3.jpg')}}" alt="...">
            <div class="carousel-caption">
              <h1></h1><h3 style="padding-bottom:15px;">Jamaica<br><small>Fellowship with Locals</small></h3>
            </div>
        </div>
        <div class="item">
            <img class="center-block" src="{{=URL('static/images','ministerios/str4.jpg')}}" alt="...">
            <div class="carousel-caption">
              <h1></h1><h3 style="padding-bottom:15px;">Jamaica<br><small>Fellowship with Locals</small></h3>
            </div>
        </div>
        <div class="item">
            <img class="center-block" src="{{=URL('static/images','ministerios/str5.jpg')}}" alt="...">
            <div class="carousel-caption">
              <h1></h1><h3 style="padding-bottom:15px;">Antigua & Barbuda<br><small>Preparation of the Team</small></h3>
            </div>
        </div>
        <div class="item">
            <img class="center-block" src="{{=URL('static/images','ministerios/str6.jpg')}}" alt="...">
            <div class="carousel-caption">
              <h1></h1><h3 style="padding-bottom:15px;">Antigua & Barbuda<br><small>Evangelism</small></h3>
            </div>
        </div>
        <div class="item">
            <img class="center-block" src="{{=URL('static/images','ministerios/str7.jpg')}}" alt="...">
            <div class="carousel-caption">
              <h1></h1><h3 style="padding-bottom:15px;">Antigua & Barbuda<br><small>Evangelism</small></h3>
            </div>
        </div>
        <div class="item">
            <img class="center-block" src="{{=URL('static/images','ministerios/str8.jpg')}}" alt="...">
            <div class="carousel-caption">
              <h1></h1><h3 style="padding-bottom:15px;">St. Vincent & the Grenadines<br><small>Fellowship with Local from a Psychiatric Center</small></h3>
            </div>
        </div>



        <div class="item">
            <img class="center-block" src="{{=URL('static/images','ministerios/music1.jpg')}}" alt="...">
            <div class="carousel-caption">
              <h1></h1><h3 style="padding-bottom:15px;">Denmark<br><small>Youth Event</small></h3>
            </div>
        </div>
        <div class="item">
            <img class="center-block" src="{{=URL('static/images','ministerios/music2.jpg')}}" alt="...">
            <div class="carousel-caption">
              <h1></h1><h3 style="padding-bottom:15px;">St. Vincent & the Grenadines<br><small>Playing the Drums at Youth Event</small></h3>
            </div>
        </div>
        <div class="item">
            <img class="center-block" src="{{=URL('static/images','ministerios/music3.jpg')}}" alt="...">
            <div class="carousel-caption">
              <h1></h1><h3 style="padding-bottom:15px;">Wales<br><small>Playing with a Welsh Man at Local Church</small></h3>
            </div>
        </div>
        <div class="item">
            <img class="center-block" src="{{=URL('static/images','ministerios/music4.jpg')}}" alt="...">
            <div class="carousel-caption">
              <h1></h1><h3 style="padding-bottom:15px;">Ghana<br><small>Singing at Cultural Event</small></h3>
            </div>
        </div>
        <div class="item">
            <img class="center-block" src="{{=URL('static/images','ministerios/music5.jpg')}}" alt="...">
            <div class="carousel-caption">
              <h1></h1><h3 style="padding-bottom:15px;">Canary Islands<br><small>Leading Worship</small></h3>
            </div>
        </div>
        <div class="item">
            <img class="center-block" src="{{=URL('static/images','ministerios/mexd1.jpg')}}" alt="...">
            <div class="carousel-caption">
              <h1></h1><h3 style="padding-bottom:15px;">Bahamas<br><small>Performing Mexican Dance at Cultural Event</small></h3>
            </div>
        </div>
        <div class="item">
            <img class="center-block" src="{{=URL('static/images','ministerios/mexd2.jpg')}}" alt="...">
            <div class="carousel-caption">
              <h1></h1><h3 style="padding-bottom:15px;">Aruba<br><small>Performing Mexican Dance at Cultural Event</small></h3>
            </div>
        </div>
        <div class="item">
            <img class="center-block" src="{{=URL('static/images','ministerios/mexd3.jpg')}}" alt="...">
            <div class="carousel-caption">
              <h1></h1><h3>Trinidad & Tobago<br><small>Entertaining the crowds as they wait to get onboard</small></h3>
            </div>
        </div>
        <div class="item">
            <img class="center-block" src="{{=URL('static/images','ministerios/mexd4.jpg')}}" alt="...">
            <div class="carousel-caption">
              <h1></h1><h3 style="padding-bottom:15px;">Aruba<br><small>Sharing Testimony</small></h3>
            </div>
        </div>
        <div class="item">
            <img class="center-block" src="{{=URL('static/images','ministerios/coro1.jpg')}}" alt="...">
            <div class="carousel-caption">
              <h1></h1><h3 style="padding-bottom:15px;">Denmark<br><small>Christmas Caroling</small></h3>
            </div>
        </div>
        <div class="item">
            <img class="center-block" src="{{=URL('static/images','ministerios/coro2.jpg')}}" alt="...">
            <div class="carousel-caption">
              <h1></h1><h3 style="padding-bottom:15px;">Bermuda<br><small>Singing with the Choir at Local Church</small></h3>
            </div>
        </div>
        <div class="item">
            <img class="center-block" src="{{=URL('static/images','ministerios/coro3.jpg')}}" alt="...">
            <div class="carousel-caption">
              <h1></h1><h3 style="padding-bottom:15px;">Aruba<br><small>Onboard Event</small></h3>
            </div>
        </div>

        <div class="item">
            <img class="center-block" src="{{=URL('static/images','ministerios/pof1.jpg')}}" alt="...">
            <div class="carousel-caption">
              <h1></h1><h3 style="padding-bottom:15px;">Barbados<br><small>Welcoming the people at the Official Opening</small></h3>
            </div>
        </div>
        <div class="item">
            <img class="center-block" src="{{=URL('static/images','ministerios/pof2.jpg')}}" alt="...">
            <div class="carousel-caption">
              <h1></h1><h3 style="padding-bottom:15px;">Barbados<br><small>Parade Of Nations at the Official Opening</small></h3>
            </div>
        </div>
        <div class="item">
            <img class="center-block" src="{{=URL('static/images','ministerios/pof3.jpg')}}" alt="...">
            <div class="carousel-caption">
              <h1></h1><h3 style="padding-bottom:15px;">Trinidad & Tobago<br><small>Welcoming the people at the Official Opening</small></h3>
            </div>
        </div>
        <div class="item">
            <img class="center-block" src="{{=URL('static/images','ministerios/pof4.jpg')}}" alt="...">
            <div class="carousel-caption">
              <h1></h1><h3 style="padding-bottom:15px;">Liberia<br><small>Parade Of Nations at the Official Opening</small></h3>
            </div>
        </div>
        <div class="item">
            <img class="center-block" src="{{=URL('static/images','ministerios/pof5.jpg')}}" alt="...">
            <div class="carousel-caption">
              <h1></h1><h3 style="padding-bottom:15px;">Ghana<br><small>Welcoming the people at the Official Opening</small></h3>
            </div>
        </div>
        <div class="item">
            <img class="center-block" src="{{=URL('static/images','ministerios/pof6.jpg')}}" alt="...">
            <div class="carousel-caption">
              <h1></h1><h3 style="padding-bottom:15px;">Canary Islands<br><small>Playing Percussion at the Official Opening</small></h3>
            </div>
        </div>
        <div class="item">
            <img class="center-block" src="{{=URL('static/images','ministerios/comm2.jpg')}}" alt="...">
            <div class="carousel-caption">
              <h1></h1><h3 style="padding-bottom:15px;">Curacao<br><small>Logos Hope Crew</small></h3>
            </div>
        </div>
        
    </div>
    <!-- Carousel nav -->
    <a class="carousel-control left" href="#myCarouselLHmin" data-slide="prev">
        <span style="padding-top:50px;" class="fa fa-2x fa-hand-o-left"></span>
    </a>
    <a class="carousel-control right" href="#myCarouselLHmin" data-slide="next">
        <span style="padding-top:50px;" class="fa fa-2x fa-hand-o-right"></span>
    </a>
</div>