<div id="myCarouselLHmin" class="carousel slide carousel-fade hidden-xs" data-ride="carousel" data-interval="0">
    <!-- Carousel indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarouselLHmin" data-slide-to="0" class="active"></li>
        <li data-target="#myCarouselLHmin" data-slide-to="1"></li>
        <li data-target="#myCarouselLHmin" data-slide-to="2"></li>
        <li data-target="#myCarouselLHmin" data-slide-to="3"></li>
        <li data-target="#myCarouselLHmin" data-slide-to="4"></li>
        <li data-target="#myCarouselLHmin" data-slide-to="5"></li>
        <li data-target="#myCarouselLHmin" data-slide-to="6"></li>
        <li data-target="#myCarouselLHmin" data-slide-to="7"></li>
        <li data-target="#myCarouselLHmin" data-slide-to="8"></li>
        <li data-target="#myCarouselLHmin" data-slide-to="9"></li>
        <li data-target="#myCarouselLHmin" data-slide-to="10"></li>
        <li data-target="#myCarouselLHmin" data-slide-to="11"></li>
        <li data-target="#myCarouselLHmin" data-slide-to="12"></li>
        <li data-target="#myCarouselLHmin" data-slide-to="13"></li>
        <li data-target="#myCarouselLHmin" data-slide-to="14"></li>
        <li data-target="#myCarouselLHmin" data-slide-to="15"></li>
        <li data-target="#myCarouselLHmin" data-slide-to="16"></li>
        <li data-target="#myCarouselLHmin" data-slide-to="17"></li>
        <li data-target="#myCarouselLHmin" data-slide-to="18"></li>
        
    </ol> 
    <ol class="carousel-indicators" style="bottom:5px;">
        <li data-target="#myCarouselLHmin" data-slide-to="19"></li>
        <li data-target="#myCarouselLHmin" data-slide-to="20"></li>
        <li data-target="#myCarouselLHmin" data-slide-to="21"></li>
        <li data-target="#myCarouselLHmin" data-slide-to="22"></li>
        <li data-target="#myCarouselLHmin" data-slide-to="23"></li>
        <li data-target="#myCarouselLHmin" data-slide-to="24"></li>
        <li data-target="#myCarouselLHmin" data-slide-to="25"></li>
        <li data-target="#myCarouselLHmin" data-slide-to="26"></li>
        <li data-target="#myCarouselLHmin" data-slide-to="27"></li>
        <li data-target="#myCarouselLHmin" data-slide-to="28"></li>
        <li data-target="#myCarouselLHmin" data-slide-to="29"></li>
        <li data-target="#myCarouselLHmin" data-slide-to="30"></li>
        <li data-target="#myCarouselLHmin" data-slide-to="31"></li>
        <li data-target="#myCarouselLHmin" data-slide-to="32"></li>
        <li data-target="#myCarouselLHmin" data-slide-to="33"></li>
        <li data-target="#myCarouselLHmin" data-slide-to="34"></li>
        <li data-target="#myCarouselLHmin" data-slide-to="35"></li>
        <li data-target="#myCarouselLHmin" data-slide-to="36"></li>
        <li data-target="#myCarouselLHmin" data-slide-to="37"></li>
    </ol>  
    <!-- Carousel items -->
    <div class="carousel-inner">
        <div class="active item">
            <img class="center-block" src="{{=URL('static/images','ministerios/drums1.jpg')}}" alt="..." >
            <div class="carousel-caption">
              <h1></h1><h3 style="padding-bottom:15px;">Granada<br><small>Presentación de Percusión</small></h3>
            </div>
        </div>
        <div class="item">
            <img class="center-block" src="{{=URL('static/images','ministerios/drums2.jpg')}}" alt="...">
            <div class="carousel-caption">
              <h1></h1><h3 style="padding-bottom:15px;">Londres, Inglaterra<br><small>Presentación de Percusión</small></h3>
            </div>
        </div> 
        <div class="item">
            <img class="center-block" src="{{=URL('static/images','ministerios/drums3.jpg')}}" alt="...">
            <div class="carousel-caption">
              <h1></h1><h3 style="padding-bottom:15px;">Londres, Inglaterra<br><small>Interactuando con el Público</small></h3>
            </div>
        </div>
        <div class="item">
            <img class="center-block" src="{{=URL('static/images','ministerios/drums4.jpg')}}" alt="...">
            <div class="carousel-caption">
              <h1></h1><h3 style="padding-bottom:15px;">Ghana<br><small>Interactuando con el Público</small></h3>
            </div>
        </div>
        <div class="item">
            <img class="center-block" src="{{=URL('static/images','ministerios/fut1.jpg')}}" alt="...">
            <div class="carousel-caption">
              <h1></h1><h3 style="padding-bottom:15px;">Trinidad y Tobago<br><small>Partido de Futbol en Carcel para Menores</small></h3>
            </div>
        </div>
        <div class="item">
            <img class="center-block" src="{{=URL('static/images','ministerios/fut2.jpg')}}" alt="...">
            <div class="carousel-caption">
              <h1></h1><h3 style="padding-bottom:15px;">Trinidad y Tobago<br><small>Partido de Futbol en Carcel para Menores</small></h3>
            </div>
        </div>
        <div class="item">
            <img class="center-block" src="{{=URL('static/images','ministerios/fut3.jpg')}}" alt="...">
            <div class="carousel-caption">
              <h1></h1><h3 style="padding-bottom:15px;">Trinidad y Tobago<br><small>Partido de Futbol en Carcel para Menores</small></h3>
            </div>
        </div>
        <div class="item">
            <img class="center-block" src="{{=URL('static/images','ministerios/fut4.jpg')}}" alt="...">
            <div class="carousel-caption">
              <h1></h1><h3 style="padding-bottom:15px;">Sierra Leona<br><small>Conviviendo con Jugador Local</small></h3>
            </div>
        </div>
        <div class="item">
            <img class="center-block" src="{{=URL('static/images','ministerios/fut5.jpg')}}" alt="...">
            <div class="carousel-caption">
              <h1></h1><h3 style="padding-bottom:15px;">Granada<br><small>Conviviendo con un Local</small></h3>
            </div>
        </div>
        <div class="item">
            <img class="center-block" src="{{=URL('static/images','ministerios/fut6.jpg')}}" alt="...">
            <div class="carousel-caption">
              <h1></h1><h3 style="padding-bottom:15px;">Granada<br><small>Conviviendo con un Local</small></h3>
            </div>
        </div>
        <div class="item">
            <img class="center-block" src="{{=URL('static/images','ministerios/comm1.jpg')}}" alt="...">
            <div class="carousel-caption">
              <h1></h1><h3 style="padding-bottom:15px;">Dinamarca<br><small>Foto de la Tripulación</small></h3>
            </div>
        </div>
        <div class="item">
            <img class="center-block" src="{{=URL('static/images','ministerios/str1.jpg')}}" alt="...">
            <div class="carousel-caption">
              <h1></h1><h3 style="padding-bottom:15px;">Jamaica<br><small>Música en las Calles</small></h3>
            </div>
        </div>
        <div class="item">
            <img class="center-block" src="{{=URL('static/images','ministerios/str2.jpg')}}" alt="...">
            <div class="carousel-caption">
              <h1></h1><h3 style="padding-bottom:15px;">Jamaica<br><small>Tocando con un Niño Local</small></h3>
            </div>
        </div>
        <div class="item">
            <img class="center-block" src="{{=URL('static/images','ministerios/str3.jpg')}}" alt="...">
            <div class="carousel-caption">
              <h1></h1><h3 style="padding-bottom:15px;">Jamaica<br><small>Conviviendo con Locales</small></h3>
            </div>
        </div>
        <div class="item">
            <img class="center-block" src="{{=URL('static/images','ministerios/str4.jpg')}}" alt="...">
            <div class="carousel-caption">
              <h1></h1><h3 style="padding-bottom:15px;">Jamaica<br><small>Conviviendo con Locales</small></h3>
            </div>
        </div>
        <div class="item">
            <img class="center-block" src="{{=URL('static/images','ministerios/str5.jpg')}}" alt="...">
            <div class="carousel-caption">
              <h1></h1><h3 style="padding-bottom:15px;">Antigua y Barbuda<br><small>Preparación del Equipo</small></h3>
            </div>
        </div>
        <div class="item">
            <img class="center-block" src="{{=URL('static/images','ministerios/str6.jpg')}}" alt="...">
            <div class="carousel-caption">
              <h1></h1><h3 style="padding-bottom:15px;">Antigua y Barbuda<br><small>Evangelismo</small></h3>
            </div>
        </div>
        <div class="item">
            <img class="center-block" src="{{=URL('static/images','ministerios/str7.jpg')}}" alt="...">
            <div class="carousel-caption">
              <h1></h1><h3 style="padding-bottom:15px;">Antigua y Barbuda<br><small>Evangelismo</small></h3>
            </div>
        </div>
        <div class="item">
            <img class="center-block" src="{{=URL('static/images','ministerios/str8.jpg')}}" alt="...">
            <div class="carousel-caption">
              <h1></h1><h3 style="padding-bottom:15px;">San Vicente y Las Granadinas<br><small>Conviviendo con un interno de un centro psiquiátrico</small></h3>
            </div>
        </div>



        <div class="item">
            <img class="center-block" src="{{=URL('static/images','ministerios/music1.jpg')}}" alt="...">
            <div class="carousel-caption">
              <h1></h1><h3 style="padding-bottom:15px;">Dinamarca<br><small>Evento para Jóvenes</small></h3>
            </div>
        </div>
        <div class="item">
            <img class="center-block" src="{{=URL('static/images','ministerios/music2.jpg')}}" alt="...">
            <div class="carousel-caption">
              <h1></h1><h3 style="padding-bottom:15px;">San Vicente y Las Granadinas<br><small>Tocando la batería en evento de jóvenes</small></h3>
            </div>
        </div>
        <div class="item">
            <img class="center-block" src="{{=URL('static/images','ministerios/music3.jpg')}}" alt="...">
            <div class="carousel-caption">
              <h1></h1><h3 style="padding-bottom:15px;">Gales<br><small>En una Iglesia Local</small></h3>
            </div>
        </div>
        <div class="item">
            <img class="center-block" src="{{=URL('static/images','ministerios/music4.jpg')}}" alt="...">
            <div class="carousel-caption">
              <h1></h1><h3 style="padding-bottom:15px;">Ghana<br><small>Cantando en Evento Cultural</small></h3>
            </div>
        </div>
        <div class="item">
            <img class="center-block" src="{{=URL('static/images','ministerios/music5.jpg')}}" alt="...">
            <div class="carousel-caption">
              <h1></h1><h3 style="padding-bottom:15px;">Islas Canarias<br><small>Dirigiendo la Alabanza</small></h3>
            </div>
        </div>
        <div class="item">
            <img class="center-block" src="{{=URL('static/images','ministerios/mexd1.jpg')}}" alt="...">
            <div class="carousel-caption">
              <h1></h1><h3 style="padding-bottom:15px;">Bahamas<br><small>Presentando Baile Mexicano en Evento Cultural</small></h3>
            </div>
        </div>
        <div class="item">
            <img class="center-block" src="{{=URL('static/images','ministerios/mexd2.jpg')}}" alt="...">
            <div class="carousel-caption">
              <h1></h1><h3 style="padding-bottom:15px;">Aruba<br><small>Presentando Baile Mexicano en Evento Cultural</small></h3>
            </div>
        </div>
        <div class="item">
            <img class="center-block" src="{{=URL('static/images','ministerios/mexd3.jpg')}}" alt="...">
            <div class="carousel-caption">
              <h1></h1><h3>Trinidad y Tobago<br><small>Entreteniendo a gente en fila para entrar al barco</small></h3>
            </div>
        </div>
        <div class="item">
            <img class="center-block" src="{{=URL('static/images','ministerios/mexd4.jpg')}}" alt="...">
            <div class="carousel-caption">
              <h1></h1><h3 style="padding-bottom:15px;">Aruba<br><small>Compartiendo Testimonio</small></h3>
            </div>
        </div>
        <div class="item">
            <img class="center-block" src="{{=URL('static/images','ministerios/coro1.jpg')}}" alt="...">
            <div class="carousel-caption">
              <h1></h1><h3 style="padding-bottom:15px;">Dinamarca<br><small>Villancicos Navideños</small></h3>
            </div>
        </div>
        <div class="item">
            <img class="center-block" src="{{=URL('static/images','ministerios/coro2.jpg')}}" alt="...">
            <div class="carousel-caption">
              <h1></h1><h3 style="padding-bottom:15px;">Bermuda<br><small>Coro del Barco en Iglesia Local</small></h3>
            </div>
        </div>
        <div class="item">
            <img class="center-block" src="{{=URL('static/images','ministerios/coro3.jpg')}}" alt="...">
            <div class="carousel-caption">
              <h1></h1><h3 style="padding-bottom:15px;">Aruba<br><small>Evento Abordo</small></h3>
            </div>
        </div>

        <div class="item">
            <img class="center-block" src="{{=URL('static/images','ministerios/pof1.jpg')}}" alt="...">
            <div class="carousel-caption">
              <h1></h1><h3 style="padding-bottom:15px;">Barbados<br><small>Dando la bienvenida en la ceremonia oficial de apertura</small></h3>
            </div>
        </div>
        <div class="item">
            <img class="center-block" src="{{=URL('static/images','ministerios/pof2.jpg')}}" alt="...">
            <div class="carousel-caption">
              <h1></h1><h3 style="padding-bottom:15px;">Barbados<br><small>Pasarela de Naciones en ceremonia oficial de apertura</small></h3>
            </div>
        </div>
        <div class="item">
            <img class="center-block" src="{{=URL('static/images','ministerios/pof3.jpg')}}" alt="...">
            <div class="carousel-caption">
              <h1></h1><h3 style="padding-bottom:15px;">Trinidad y Tobago<br><small>Dando la bienvenida en la ceremonia oficial de apertura</small></h3>
            </div>
        </div>
        <div class="item">
            <img class="center-block" src="{{=URL('static/images','ministerios/pof4.jpg')}}" alt="...">
            <div class="carousel-caption">
              <h1></h1><h3 style="padding-bottom:15px;">Liberia<br><small>Pasarela de Naciones en ceremonia oficial de apertura</small></h3>
            </div>
        </div>
        <div class="item">
            <img class="center-block" src="{{=URL('static/images','ministerios/pof5.jpg')}}" alt="...">
            <div class="carousel-caption">
              <h1></h1><h3 style="padding-bottom:15px;">Ghana<br><small>Bienvenida en ceremonia oficial de apertura</small></h3>
            </div>
        </div>
        <div class="item">
            <img class="center-block" src="{{=URL('static/images','ministerios/pof6.jpg')}}" alt="...">
            <div class="carousel-caption">
              <h1></h1><h3 style="padding-bottom:15px;">Islas Canarias<br><small>Tocando Percusión en ceremonia oficial de apertura</small></h3>
            </div>
        </div>
        <div class="item">
            <img class="center-block" src="{{=URL('static/images','ministerios/comm2.jpg')}}" alt="...">
            <div class="carousel-caption">
              <h1></h1><h3 style="padding-bottom:15px;">Curacao<br><small>Foto de la Tripulación</small></h3>
            </div>
        </div>
        
    </div>
    <!-- Carousel nav -->
    <a class="carousel-control left" href="#myCarouselLHmin" data-slide="prev">
        <span style="padding-top:50px;" class="fa fa-2x fa-hand-o-left"></span>
    </a>
    <a class="carousel-control right" href="#myCarouselLHmin" data-slide="next">
        <span style="padding-top:50px;" class="fa fa-2x fa-hand-o-right"></span>
    </a>
</div>