<div id="myCarouselLHten" class="carousel slide carousel-fade hidden-xs" data-ride="carousel" data-interval="0">
    <!-- Carousel indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarouselLHten" data-slide-to="0" class="active"></li>
        <li data-target="#myCarouselLHten" data-slide-to="1"></li>
        <li data-target="#myCarouselLHten" data-slide-to="2"></li>
        <li data-target="#myCarouselLHten" data-slide-to="3"></li>
        <li data-target="#myCarouselLHten" data-slide-to="4"></li>
        <li data-target="#myCarouselLHten" data-slide-to="5"></li>
        <li data-target="#myCarouselLHten" data-slide-to="6"></li>
        <li data-target="#myCarouselLHten" data-slide-to="7"></li>
    </ol>   
    <!-- Carousel items -->
    <div class="carousel-inner">
        <div class="active item">
            <img class="center-block" src="{{=URL('static/images','lhten.jpg')}}" alt="..." height="400px;" width="700px;">
            <div class="carousel-caption">
              <h1></h1><h3>Maestro de Ceremonias - Evento Cultural<br><small>Evento al Aire Libre en el Puerto de Tenerife</small></h3>
            </div>
        </div>
        <div class="item">
            <img class="center-block" src="{{=URL('static/images','lhten1.jpg')}}" alt="...">
            <div class="carousel-caption">
              <h1></h1>
              <h3>Maestro de Ceremonias - Evento Cultural<br><small>Participando en la rutina de percusión</small></h3>
            </div>
        </div>
        <div class="item">
            <img class="center-block" src="{{=URL('static/images','lhten8.jpg')}}" alt="...">
            <div class="carousel-caption" style="">
              <h1></h1><h3>Maestro de Ceremonias - Evento Cultural<br><small>Dinámica con el público junto al Coro Africano</small></h3>
            </div>
        </div>
        
        <div class="item">
            <img class="center-block" src="{{=URL('static/images','lhten2.jpg')}}" alt="...">
            <div class="carousel-caption">
              <h1></h1><h3>Maestro de Ceremonias - Evento Cultural<br><small>Presentando a diferenes tripulantes del barco</small></h3>
            </div>
        </div>
        <div class="item">
            <img class="center-block" src="{{=URL('static/images','lhten3.jpg')}}" alt="...">
            <div class="carousel-caption">
              <h1></h1><h3>Maestro de Ceremonias - Evento Cultural<br><small>Entrevistando al director del barco</small></h3>
            </div>
        </div>
        <div class="item">
            <img class="center-block" src="{{=URL('static/images','lhten5.jpg')}}" alt="...">
            <div class="carousel-caption">
              <h1></h1><h3>Maestro de Ceremonias - Evento Cultural<br><small>La gente que asistió</small></h3>
            </div>
        </div>
        <div class="item">
            <img class="center-block" src="{{=URL('static/images','lhten4.jpg')}}" alt="...">
            <div class="carousel-caption">
              <h1></h1><h3>Maestro de Ceremonias - Evento Cultural<br><small>Bailando el Jarabe Tapatío</small></h3>
            </div>
        </div>
        <div class="item">
            <img class="center-block" src="{{=URL('static/images','lhten9.jpg')}}" alt="...">
            <div class="carousel-caption">
              <h1></h1><h3>Colaborando con Hábitat Para La Humanidad<br><small>El público que se dio cita al evento</small></h3>
            </div>
        </div>        
        
    </div>
    <!-- Carousel nav -->
    <a class="carousel-control left" href="#myCarouselLHten" data-slide="prev">
        <span style="padding-top:50px;" class="fa fa-2x fa-hand-o-left"></span>
    </a>
    <a class="carousel-control right" href="#myCarouselLHten" data-slide="next">
        <span style="padding-top:50px;" class="fa fa-2x fa-hand-o-right"></span>
    </a>
</div>