<div id="myCarouselLHtra" class="carousel slide carousel-fade hidden-xs" data-ride="carousel" data-interval="0">
    <!-- Carousel indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarouselLHtra" data-slide-to="0" class="active"></li>
        <li data-target="#myCarouselLHtra" data-slide-to="1"></li>
        <li data-target="#myCarouselLHtra" data-slide-to="2"></li>
        <li data-target="#myCarouselLHtra" data-slide-to="3"></li>
        <li data-target="#myCarouselLHtra" data-slide-to="4"></li>
        <li data-target="#myCarouselLHtra" data-slide-to="5"></li>
        <li data-target="#myCarouselLHtra" data-slide-to="6"></li>
        <li data-target="#myCarouselLHtra" data-slide-to="7"></li>
        <li data-target="#myCarouselLHtra" data-slide-to="8"></li>
        <li data-target="#myCarouselLHtra" data-slide-to="9"></li>
        <li data-target="#myCarouselLHtra" data-slide-to="10"></li>
        <li data-target="#myCarouselLHtra" data-slide-to="11"></li>
        <li data-target="#myCarouselLHtra" data-slide-to="12"></li>
        <li data-target="#myCarouselLHtra" data-slide-to="13"></li>
        <li data-target="#myCarouselLHtra" data-slide-to="14"></li>
    </ol>   
    <!-- Carousel items -->
    <div class="carousel-inner">
        <div class="active item">
            <img class="center-block" src="{{=URL('static/images','trabajo/1.jpg')}}" alt="..." >
            <div class="carousel-caption">
              <h1></h1><h3>Dinamarca<br><small>Removiendo Aceite en la Sala de Máquinas</small></h3>
            </div>
        </div>
        <div class="item">
            <img class="center-block" src="{{=URL('static/images','trabajo/2.jpg')}}" alt="...">
            <div class="carousel-caption">
              <h1></h1>
              <h3>Dinamarca<br><small>Removiendo Aceite en la Sala de Máquinas</small></h3>
            </div>
        </div>
        <div class="item">
            <img class="center-block" src="{{=URL('static/images','trabajo/3.jpg')}}" alt="...">
            <div class="carousel-caption" style="">
              <h1></h1><h3>Dinamarca<br><small>Instalando Material de Insolación</small></h3>
            </div>
        </div>
        
        <div class="item">
            <img class="center-block" src="{{=URL('static/images','trabajo/taladro.jpg')}}" alt="...">
            <div class="carousel-caption">
              <h1></h1><h3>Dinamarca<br><small>Instalando Hojas de Metal</small></h3>
            </div>
        </div>
        <div class="item">
            <img class="center-block" src="{{=URL('static/images','trabajo/lb.jpg')}}" alt="...">
            <div class="carousel-caption" style="">
              <h1></h1><h3>Dinamarca<br><small>Simulacro en Botes Salvavidas</small></h3>
            </div>
        </div>
        
        <div class="item">
            <img class="center-block" src="{{=URL('static/images','trabajo/fr.jpg')}}" alt="...">
            <div class="carousel-caption">
              <h1></h1><h3>Dinamarca<br><small>Simulacro de Incendio</small></h3>
            </div>
        </div>
        <div class="item">
            <img class="center-block" src="{{=URL('static/images','trabajo/5.jpg')}}" alt="...">
            <div class="carousel-caption">
              <h1></h1><h3>Irlanda<br><small>Embarcando los Vehículos</small></h3>
            </div>
        </div>
        <div class="item">
            <img class="center-block" src="{{=URL('static/images','trabajo/6.jpg')}}" alt="...">
            <div class="carousel-caption">
              <h1></h1><h3>Irlanda<br><small>Embarcando los Vehículos</small></h3>
            </div>
        </div>
        <div class="item">
            <img class="center-block" src="{{=URL('static/images','trabajo/gng.jpg')}}" alt="...">
            <div class="carousel-caption">
              <h1></h1><h3>Irlanda<br><small>De Guardia en la Escalerilla Principal</small></h3>
            </div>
        </div>
        <div class="item">
            <img class="center-block" src="{{=URL('static/images','trabajo/bridge.jpg')}}" alt="...">
            <div class="carousel-caption">
              <h1></h1><h3>Irlanda<br><small>De Guardia en el Puente De Mando</small></h3>
            </div>
        </div>
        <div class="item">
            <img class="center-block" src="{{=URL('static/images','trabajo/7.jpg')}}" alt="...">
            <div class="carousel-caption">
              <h1></h1><h3>Londres, Inglaterra<br><small>Preparación del Desembarque de las Rampas</small></h3>
            </div>
        </div>
        <div class="item">
            <img class="center-block" src="{{=URL('static/images','trabajo/8.jpg')}}" alt="...">
            <div class="carousel-caption">
              <h1></h1><h3>Londres, Inglaterra<br><small>Preparación del Desembarque de las Rampas</small></h3>
            </div>
        </div>  
        <div class="item">
            <img class="center-block" src="{{=URL('static/images','trabajo/9.jpg')}}" alt="...">
            <div class="carousel-caption">
              <h1></h1><h3>Altamar<br><small>Timoneando el Barco</small></h3>
            </div>
        </div>
        <div class="item">
            <img class="center-block" src="{{=URL('static/images','trabajo/10.jpg')}}" alt="...">
            <div class="carousel-caption">
              <h1></h1><h3>Curacao<br><small>Departamento de Cubierta</small></h3>
            </div>
        </div>
        <div class="item">
            <img class="center-block" src="{{=URL('static/images','trabajo/11.jpg')}}" alt="...">
            <div class="carousel-caption">
              <h1></h1><h3>Curacao<br><small>Departamiento de Cubierta</small></h3>
            </div>
        </div>      
        
    </div>
    <!-- Carousel nav -->
    <a class="carousel-control left" href="#myCarouselLHtra" data-slide="prev">
        <span style="padding-top:50px;" class="fa fa-2x fa-hand-o-left"></span>
    </a>
    <a class="carousel-control right" href="#myCarouselLHtra" data-slide="next">
        <span style="padding-top:50px;" class="fa fa-2x fa-hand-o-right"></span>
    </a>
</div>