<div id="myCarousel" class="carousel slide carousel-fade hidden-xs" data-ride="carousel" data-interval="0">
    <!-- Carousel indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
        <li data-target="#myCarousel" data-slide-to="4"></li>
        <li data-target="#myCarousel" data-slide-to="5"></li>
        <li data-target="#myCarousel" data-slide-to="6"></li>
        <li data-target="#myCarousel" data-slide-to="7"></li>
        <li data-target="#myCarousel" data-slide-to="8"></li>
        <li data-target="#myCarousel" data-slide-to="9"></li>
        <li data-target="#myCarousel" data-slide-to="10"></li>
        <li data-target="#myCarousel" data-slide-to="11"></li>
        <li data-target="#myCarousel" data-slide-to="12"></li>
    </ol>   
    <!-- Carousel items -->
    <div class="carousel-inner">
        <div class="active item">
            <img class="center-block" src="{{=URL('static/images','tiendita/tiendita1.jpg')}}" alt="..." >
            <div class="carousel-caption">
              <h1></h1><h3>La Tiendita <br><small>Organizado la despensa</small>  </h3>
            </div>
        </div>
        <div class="item">
            <img class="center-block" src="{{=URL('static/images','tiendita/tiendita2.jpg')}}" alt="...">
            <div class="carousel-caption">
              <h1></h1>
              <h1></h1><h3>La Tiendita <br><small>El pastor Rubén y su esposa Doris frente a la despensa</small>  </h3>
            </div>
        </div>
        <div class="item">
            <img class="center-block" src="{{=URL('static/images','tiendita/tiendita3.jpg')}}" alt="...">
            <div class="carousel-caption" style="">
              <h1></h1><h3>La Tiendita <br><small>Voluntarios del Centro Comunitario Casa Abierta</small>  </h3>
            </div>
        </div>
        
        <div class="item">
            <img class="center-block" src="{{=URL('static/images','tiendita/tiendita4.jpg')}}" alt="...">
            <div class="carousel-caption">
              <h1></h1><h3>La Tiendita <br><small>Entregando Despensas</small>  </h3>
            </div>
        </div>
        <div class="item">
            <img class="center-block" src="{{=URL('static/images','tiendita/tiendita5.jpg')}}" alt="...">
            <div class="carousel-caption">
              <h1></h1><h3>La Tiendita <br><small>Entregando Despensas</small>  </h3>
            </div>
        </div>
        <div class="item">
            <img class="center-block" src="{{=URL('static/images','tiendita/tiendita6.jpg')}}" alt="...">
            <div class="carousel-caption">
              <h1></h1><h3>La Tiendita <br><small>Entregando Despensas</small>  </h3>
            </div>
        </div>
        <div class="item">
            <img class="center-block" src="{{=URL('static/images','tiendita/tiendita7.jpg')}}" alt="...">
            <div class="carousel-caption">
             <h1></h1><h3>La Tiendita <br><small>Entregando Despensas</small>  </h3>
            </div>
        </div>
        
        <div class="item">
            <img class="center-block" src="{{=URL('static/images','tiendita/tiendita8.jpg')}}" alt="..." >
            <div class="carousel-caption">
              <h1></h1><h3>La Tiendita <br><small>Entregando Despensas</small>  </h3>
            </div>
        </div>
        <div class="item">
            <img class="center-block" src="{{=URL('static/images','tiendita/tiendita9.jpg')}}" alt="..." >
            <div class="carousel-caption">
              <h1></h1><h3>La Tiendita <br><small>Entregando Despensas</small>  </h3>
            </div>
        </div>
        <div class="item">
            <img class="center-block" src="{{=URL('static/images','tiendita/tiendita10.jpg')}}" alt="...">
            <div class="carousel-caption">
              <h1></h1><h3>La Tiendita <br><small>Asistente regular al estudio bíblico contenta con su despensa</small>  </h3>
            </div>
        </div>
        <div class="item">
            <img class="center-block" src="{{=URL('static/images','tiendita/tiendita11.jpg')}}" alt="..." >
            <div class="carousel-caption">
              <h1></h1><h3>La Tiendita <br><small>Entregando Despensas</small>  </h3>
            </div>
        </div>
        
        <div class="item">
            <img class="center-block" src="{{=URL('static/images','tiendita/tiendita12.jpg')}}" alt="..." >
            <div class="carousel-caption">
              <h1></h1><h3>La Tiendita <br><small>Entregando Despensas</small>  </h3>
            </div>
        </div>
        <div class="item">
            <img class="center-block" src="{{=URL('static/images','tiendita/tiendita13.jpg')}}" alt="...">
            <div class="carousel-caption">
              <h1></h1><h3>La Tiendita <br><small>Entregando Despensas</small>  </h3>
            </div>
        </div>
        
    </div>
    <!-- Carousel nav -->
    <a class="carousel-control left" href="#myCarousel" data-slide="prev">
        <span style="padding-top:50px;" class="fa fa-2x fa-hand-o-left"></span>
    </a>
    <a class="carousel-control right" href="#myCarousel" data-slide="next">
        <span style="padding-top:50px;" class="fa fa-2x fa-hand-o-right"></span>
    </a>
</div>